# Module 1: Basic Concept
###### time: about 90 min

* basic concepts
* interpreter, compiler, lexis, semantics, syntax, keywords, etc.
* literal-integer, Boolean, Floats, scientific notation, string
* comment
* print()
* input()
* other numeral systems - binary, decimal, octal, and hexadecimal
* aritmetic (numeric) operators
* string operators
* assignments and shortcut operators

## Python Identifiers
A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).

Python does not allow punctuation characters such as @, $, and % within identifiers. Python is a case sensitive programming language. Thus, Manpower and manpower are two different identifiers in Python.

Here are naming conventions for Python identifiers âˆ’

* Class names start with an uppercase letter. All other identifiers start with a lowercase letter.

* Starting an identifier with a single leading underscore indicates that the identifier is private.

* Starting an identifier with two leading underscores indicates a strongly private identifier.

* If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.

## Reserved Words


|---------| Keywords |---------|
| :---    |  :----:  |    ---: |
| and     | exec     | not     |
| assert  | finally  | or      |
| break   | for      | pass    |
| class   | from     | print   |
| continue| global   | raise   |
| def     | if       | return  |
| del     | import   | try     |
| elif    | in       | while   |
| else    | is       | with    |
| except  | lambda   | yield   |

## literal-integer, Boolean, Floats, scientific notation, string

In [1]:
print('Hello world!')

number_of_students = 10
age = 13.5
reg = True

print("*************")
print("number of students: ", number_of_students)
print("age: ", age)
print("reg: ", reg)

Hello world!
*************
number of students:  10
age:  13.5
reg:  True

In [2]:
print(type(number_of_students))
print(type(age))
print(type(reg))

<class 'int'>
<class 'float'>
<class 'bool'>

## comment

In [3]:
# this line is a test for comment
temp = 23
temp

23

## first my program

In [4]:
r = 1
pi = 3.1415
print("Area for \"r = 5\" ==>", r * r * pi)

Area for "r = 5" ==> 3.1415

## input()

In [5]:
r = int(input("pls enter r: "))
print(r+1)
print(type(r))

pls enter r: 10
11
<class 'int'>

In [6]:
r = int(input("pls enter r: "))
pi = 3.1415
print('Area for r:{1} = {0} '.format(r*r*pi, r))
print("Area = ", r*r*pi)

pls enter r: 10
Area for r:10 = 314.15000000000003
Area =  314.15000000000003

## other numeral systems - binary, decimal, octal, and hexadecimal

## aritmetic (numeric) operators

In [7]:
# + - / * % // **

x, y = 2, 3
print("x + y => ", x + y)
print("x - y => ", x - y)
print("x / y => ", x / y)
print("x // y => ", x // y)
print("x * y => ", x * y)
print("x ** y => ", x ** y)
print("x % y => ", x % y)

x + y =>  5
x - y =>  -1
x / y =>  0.6666666666666666
x // y =>  0
x * y =>  6
x ** y =>  8
x % y =>  2

## string operators

In [8]:
f_name = "ali"
l_name = "hajqani"

print(f_name + " " + l_name)
print(f_name * 3)
print(l_name + "3")

ali hajqani
alialiali
hajqani3

## assignments and shortcut operators

In [9]:
# += -= *= /= //= %= **=

a, b = 4, 5

a += b
print(a) # a = 9
print(type(a))

a *= b
print(a)
print(type(a))

a -= b
print(a)
print(type(a))

a /= b
print(a)
print(type(a))

a //= b
print(a)
print(type(a))

a **= b
print(a)
print(type(a))

9
<class 'int'>
45
<class 'int'>
40
<class 'int'>
8.0
<class 'float'>
1.0
<class 'float'>
1.0
<class 'float'>

In [10]:
a_float = 3.149
limited_float = round(a_float, 2)

limited_float

3.15